.navbar {
    border: solid pink 2px;
    background-color: white;
    font-family: 'Dancing Script', cursive;
}
img {
    border: solid black 2px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: pink;
    color: black;
    text-align: center;
    border: solid black 2px;
    font-family: 'Dancing Script', cursive;
  }
  h1 {
    font-family: 'Dancing Script', cursive;
    color: pink;
  }
  .container {
      background-color: lightgray;
  }
  button {
      padding: 20px;
      margin: 50px, 50px, 0, 350px;
      background-color: lightpink;
  }


